.embla__dot {
    -webkit-appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    margin: 0 0.75rem;
}

.embla__dot:after {
    background: black;
    border-radius: 0.2rem;
    width: 100%;
    height: 0.3rem;
    content: '';
}