/* main */
@import url(blocks/main/main.css);

/* header */
@import url(blocks/header/header.css);
@import url(blocks/header/__logo/header__logo.css);
@import url(blocks/header/__menu/header__menu.css);
@import url(blocks/header/__menu/__link/header__menu__link.css);

/* header-container */
@import url(blocks/header-container/header-container.css);
@import url(blocks/header-container/__title/header-container__title.css);
@import url(blocks/header-container/__title/_accent-secondary/header-container__title_accent-secondary.css);
@import url(blocks/header-container/__title/_accent-main/header-container__title_accent-main.css);

/* header-container-power */
@import url(blocks/header-container-power/header-container-power.css);

@import url(blocks/title/title.css);

/* background */
@import url(blocks/background/background.css);
@import url(blocks/background/_primary/background_primary.css);
@import url(blocks/background/_secondary/background_secondary.css);

/* arrow */
@import url(blocks/arrow/arrow.css);
@import url(blocks/arrow/_disabled/arrow_disabled.css);
@import url(blocks/arrow/_left/arrow_left.css);
@import url(blocks/arrow/_right/arrow_right.css);

/* embla slider */
@import url(blocks/slider/slider.css);
@import url(blocks/embla/embla.css);
@import url(blocks/embla/__button/embla__button.css);
@import url(blocks/embla/__button/__svg/embla__button__svg.css);
@import url(blocks/embla/__buttons/embla__buttons.css);
@import url(blocks/embla/__container/embla__container.css);
@import url(blocks/embla/__dot/embla__dot.css);
@import url(blocks/embla/__dot/_selected/embla__dot_selected.css);
@import url(blocks/embla/__dots/embla__dots.css);
@import url(blocks/embla/__slide/embla__slide.css);
@import url(blocks/embla/__slide/__img/embla__slide__img.css);
@import url(blocks/embla/__slide/__content/embla__slide__content.css);
@import url(blocks/embla/__slide/__title/embla__slide__title.css);
@import url(blocks/embla/__slide/__desc/embla__slide__desc.css);
@import url(blocks/embla/__viewport/embla__viewport.css);

/* video */
@import url(blocks/video-container/video-container.css);
@import url(blocks/video-container/__content/video-container__content.css);
@import url(blocks/video-container/__video/video-container__video.css);

/* power */
@import url(blocks/power-content/power-content.css);
@import url(blocks/power-content/__image/power-content__image.css);
@import url(blocks/power-content/__title/power-content__title.css);

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}